<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ca3491f-87c7-4f13-a638-e83ac4800f68" Alias="BOI.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BOIpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-15T21:46:37</CreateDate>
    <NodeName Default="BOI.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/scbplsvo/boi.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>