<?xml version="1.0" encoding="utf-8"?>
<Media Key="eea301f5-0014-4400-8f19-aaf35331a6fa" Alias="NAV.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NAVpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-03-15T21:48:13</CreateDate>
    <NodeName Default="NAV.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/plfpkwd3/nav.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>